<div class="combat-section">
  <h2>{{localize "NARUTO_RPG.Tabs.combat"}}</h2>
  <div class="combat-stats">
    <div class="combat-stat">
      <span class="combat-stat-label">{{localize "NARUTO_RPG.Combat.initiative"}}</span>
      <span class="combat-stat-value">{{systemData.combat.initiative}}</span>
    </div>
    <div class="combat-stat">
      <span class="combat-stat-label">{{localize "NARUTO_RPG.Combat.speed"}}</span>
      <span class="combat-stat-value">
        <input type="number" name="system.combat.speed" value="{{systemData.combat.speed}}" />
      </span>
    </div>
    <div class="combat-stat">
      <span class="combat-stat-label">{{localize "NARUTO_RPG.Combat.defense"}}</span>
      <span class="combat-stat-value">{{systemData.combat.defense}}</span>
    </div>
    <div class="combat-stat">
      <span class="combat-stat-label">{{localize "NARUTO_RPG.Combat.soak"}}</span>
      <span class="combat-stat-value">{{systemData.combat.soak}}</span>
    </div>
  </div>
</div>
